<div class="disclaimer text-secondary small p-2 mt-3 border-top" style="max-width: 80%;">
    <p>
        <strong>Important Notice:</strong>
        <a href="https://www.financialanalystguide.com" rel="noopener noreferrer"
            target="_blank">FinancialAnalystGuide.com</a>
        provides supplemental CFA study materials, including mock exams, sample exam questions, and other practice
        resources to aid your exam preparation. These resources are not affiliated with or endorsed by the CFA
        Institute.
        <em>CFA®</em> and <em>Chartered Financial Analyst®</em> are registered trademarks owned exclusively by CFA
        Institute.
        Our content is independent, and we do not guarantee exam success.
        CFA Institute does not endorse, promote, or warrant the accuracy or quality of our products.
    </p>
</div>